$c_palette_1: #69D2E7;
$c_palette_2: #A7DBD8;
$c_palette_3: #E0E4CC;
$c_palette_4: #F38630;
$c_palette_5: #4c5864;

html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

* + * {
  margin-top: 1em;
}

h3 {
  text-align: center;
  font-weight: normal;
  margin: -1rem 0 1rem 0;
}

.legend {
  text-align: center;
  width: 90%;
  max-width: 1400px;
  margin: 2em auto 2em;
  padding: 2em 1em;
  border: 1px dashed rgba($c_palette_5,0.5);

  span {
    padding: 0.5em;
    display: inline-block;
    border: 1px solid rgba($c_palette_5,0.5);
  }

  span > span {
    margin-left: 0.5em;
  }
}

.legend--grid {
  background-color: $c_palette_2;
}

.legend--grid__item {
  background-color: $c_palette_1;
}

.legend--grid__box {
  background-color: $c_palette_4;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 2em auto;
  padding: 2em 0;
  position: relative;
  background-color: rgba($c_palette_3, 0.05);

  &:before,
  &:after {
    content: "";
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    border-left: 1px dashed rgba($c_palette_5, 0.5);
  }

  &:after {
    right: 0;
  }

  &.padded {
    padding: 0 ($line-height * 1em);
    padding-top: $line-height * 1em;
  }

  &.no-margins {
    margin: 0 auto;
  }
}

.grid {
  background-color: $c_palette_2;
}

.grid__item {
  background-color: $c_palette_1;
  border: 1px solid rgba($c_palette_5,0.5);
}

.grid__box {
  padding: 0.5em;
  background-color: $c_palette_4;
  border: 1px solid rgba($c_palette_5,0.5);
}