$c_palette_1:  #FACDC8;
$c_palette_1b: #cc0000;
$c_palette_2:  #A5CAD3;
$c_palette_3:  #80A6AF;
$c_palette_4:  #2F5E6E;
$c_palette_5:  #082C3A;

html, body {
  font-family: sans-serif;
  line-height: 1.68;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline-offset: -1px;
}

* {
  margin: 0;
}

* + * {
  margin-top: 1em;
}

br {
  margin-top: 0;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  padding: 0 2rem;
}

h3 {
  margin: 0 0 1rem 0;
}

.reference-box {
  width: 90%;
  max-width: 1400px;
  margin: 2em auto 2em;
  padding: 2em 1em;
  outline: 1px dashed rgba($c_palette_5,0.5);
}

.legend {

  span {
    padding: 0.5em;
    display: inline-block;
    outline: 1px solid rgba($c_palette_5,0.5);
  }

  span > span {
    margin-left: 0.5em;
  }

}

.legend--grid,
.grid {
  color: white;
  background-color: $c_palette_2;
}

.legend--grid__item,
.grid__item {
  background-color: $c_palette_3;
}

.legend--grid__box,
.grid__box {
  background-color: $c_palette_4;
}

.grid {
  margin-top: 0.5em;
}

.grid__item {
  outline: 1px solid $c_palette_5;
}

.grid__box {
  padding: 0.5em;
  outline: 1px solid $c_palette_5;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 2em auto;
  padding: 2em 0;
  position: relative;
  background-color: rgba($c_palette_1, 0.2);

  &:before,
  &:after {
    content: "";
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    border-left: 1px dashed rgba($c_palette_1b, 0.75);
  }

  &:before {
    content: "Wrapper Limit";
    font-size: 80%;
    font-style: italic;
    line-height: 1.5;
    white-space: nowrap;
    color: $c_palette_1b;
    color: rgba($c_palette_1b, 0.75);
    padding: 0.25em 0.5em;
  }

  &:after {
    right: 0;
  }
}

.wrapper h3 {
  text-align: center;
  padding: 0 2rem;
}