@import "partials/_mq.scss";

$c_palette_1:  #ffcc00;
$c_palette_1b: #cc0000;
$c_palette_2:  #a5cad3;
$c_palette_3:  #80a6af;
$c_palette_4:  #2f5e6e;
$c_palette_5:  #082c3a;

$c_palette_1:  #cccccc;
$c_palette_1b: #cc0000;
$c_palette_2:  #c0df56;
$c_palette_3:  #90af38;
$c_palette_4:  #5f8017;
$c_palette_5:  #113801;

$c_palette_1:  #cccccc;
$c_palette_1b: #cc0000;
$c_palette_2:  #e986f3;
$c_palette_3:  #c642d3;
$c_palette_4:  #a41fb0;
$c_palette_5:  #62206a;

$c_palette_1:  #c0d7f7;
$c_palette_1b: #17579f;
$c_palette_2:  #dfafdf;
$c_palette_3:  #c768c6;
$c_palette_4:  #971e9f;
$c_palette_5:  #680177;

html, body {
  font-family: sans-serif;
  line-height: 1.68;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline-offset: -1px;
}

* {
  margin: 0;
}

* + * {
  margin-top: 1em;
}

br {
  margin-top: 0;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  padding: 0 2rem;

  @media screen and ($mq_nomensland_max) {
    font-size: 150%;
  }
}

h3 {
  margin: 0 0 1rem 0;
}

.reference-box {
  width: 90%;
  max-width: 1400px;
  margin: 2em auto 2em;
  padding: 2em 1em;
  border: 1px dashed rgba($c_palette_5,0.5);
}

.legend {
  span > span {
  }
}

.legend--grid,
.grid {
  color: white;
  text-shadow: 1px 1px 0 rgba($c_palette_5, 0.5);
  background-color: $c_palette_2;
}

.legend--grid__item,
.grid__item {
  background-color: $c_palette_3;
}

.legend--grid__box,
.grid__box {
  background-color: $c_palette_4;
}

.legend--grid,
.legend--grid__item,
.legend--grid__box {
  margin-left: 0.5em;
  padding: 0.5em;
  display: inline-block;
  outline: 1px solid rgba($c_palette_5,0.5);

  @media screen and ($mq_small_max) {
    width: 100%;
    margin-left: 0;
    padding: 0.5em;
    display: block;
  }
}

.legend--grid {
  margin-left: 0;
}

.grid {
  margin-top: 0.5em;
}

.grid__item {
  outline: 1px solid $c_palette_5;
}

.grid__box {
  padding: 0.5em;
  outline: 1px solid $c_palette_5;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 2em auto;
  padding: 2em 0;
  position: relative;
  background-color: rgba($c_palette_1, 0.2);

  &:before,
  &:after {
    content: "";
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    border-left: 1px dashed rgba($c_palette_1b, 0.75);
  }

  &:before {
    content: "Wrapper Limit";
    font-size: 80%;
    font-style: italic;
    line-height: 1.5;
    white-space: nowrap;
    color: $c_palette_1b;
    color: rgba($c_palette_1b, 0.75);
    padding: 0.25em 0.5em;
  }

  &:after {
    right: 0;
  }
}

.wrapper h3 {
  text-align: center;
  padding: 0 2rem;
}